body
{
    font-family: 'Niramit', sans-serif;
    background-color: #000;
}

.white-divider
{
    width: 100px;
    height: 2px;
    background: #fff;
    margin: 0 auto;
}

section
{
    margin: 75px 0px;
    color: #fff;
}

section .heading
{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 40px;
}

section .heading h2
{
    text-transform: uppercase;
}

input, button
{
    margin: 20px 0px;
}