body
{
    background-image: url("../images/bg-ml.jpg");
    background-repeat: no-repeat;
    background-color: #000;
    color: #7a7a7a;
}

#terms
{
    margin-top: 50px;
    display: block;
}

#terms h2
{
    text-align: center;
    margin-bottom: 100px;
}

