body
{
    font-family: 'Niramit', sans-serif;
    background-color: #000;
    color: #fff;
    text-align: center;
}

.white-divider
{
    width: 100px;
    height: 2px;
    background: #fff;
    margin: 0 auto;
}

h2
{
    margin: 20px;
}

.ajouter
{
    margin-top: 50px;
}

table
{
    margin: 75px 0px;
}