body {
    background: url("../images/bg-about.jpg") no-repeat center fixed;
    color: #fff;
    font-family: 'ZCOOL XiaoWei', sans-serif;
}

header
{
    
}

#main {
    background: linear-gradient(to top, black 60%, rgb(255,0,0,0));
    margin: 50px 0px 0px 0px;
    font-size: 20px;
}

#main h2, #main p
{
    text-align: center;
}

#main h2
{
    margin: 20px 0px;
}

#main p
{
    margin: 40px;
}

#main form
{
    padding: 10% 20%;
}

#main form label
{
    margin: 0 0 10px 0;
}

#main form input, #main form textarea
{
    margin: 0 0 20px 0;
}

footer
{
    padding: 20px 0px;
    background: #000;
}

form .btn
{
    margin: 20px 0 0 0;
}




